<html>

	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>OLSystem - automatic system for passing olympics</title>
		<link rel="icon" href="../start-olympiad-page/img/icon.png">
	    <link rel="stylesheet" href="../start-olympiad-page/style.css"/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>

	<body>

		<div id="app" class="wrapper">

            <div id="authentification" class="modalDialog">
                <div class="container">
                    <a href="#close" class="close" title="Закрыть" >X</a>
                    <p class="title-modal">Авторизация</p>
                    <label class="label-modal" :class="{'warning-message' : dialogLogIn.isEmptyUsername}">Введите логин [{{ dialogLogIn.username.length }}/20]:</label>
                    <input class="input-modal" maxlength="20" v-model="dialogLogIn.username" :class="{'empty-edit' : dialogLogIn.isEmptyUsername}">
                    <label class="label-modal" :class="{'warning-message' : dialogLogIn.isEmptyPassword}">Введите пароль [{{ dialogLogIn.password.length }}/25]:</label>
                    <input class="input-modal" maxlength="25" v-model="dialogLogIn.password" type="password" :class="{'empty-edit' : dialogLogIn.isEmptyPassword}">
                    <a href="#registration" class="a-modal">Еще не зарегистированы?</a>
                    <button class="button-modal" v-on:click="authentificate">Войти</button>
                    <p class="message-modal">{{ dialogLogIn.message }}</p>
                </div><!-- Rnd container -->
            </div><!-- Rnd modalDialog -->

            <div id="registration" class="modalDialog">
                <div class="container">
                    <a href="#close" class="close" title="Закрыть" >X</a>
                    <p class="title-modal">Регистрация</p>
                    <label class="label-modal" :class="{'warning-message' : dialogSignUp.isEmptyFullName}">Введите ФИО [{{ dialogSignUp.fullName.length }}/50]:</label>
                    <input class="input-modal" maxlength="50" v-model="dialogSignUp.fullName"  :class="{'empty-edit' : dialogSignUp.isEmptyFullName}">
                    <label class="label-modal" :class="{'warning-message' : dialogSignUp.isEmptyUsername}">Введите логин [{{ dialogSignUp.username.length }}/20]:</label>
                    <input class="input-modal" maxlength="20" v-model="dialogSignUp.username" :class="{'empty-edit' : dialogSignUp.isEmptyUsername}">
                    <label class="label-modal" :class="{'warning-message' : dialogSignUp.isEmptyPassword}">Введите пароль [{{ dialogSignUp.password.length }}/25]:</label>
                    <input class="input-modal" maxlength="25" v-model="dialogSignUp.password" type="password" :class="{'empty-edit' : dialogSignUp.isEmptyPassword}">
                    <a href="#authentification" class="a-modal">Уже зарегистированы?</a>
                    <button class="button-modal" v-on:click="register">Зарегистироваться</button>
                    <p class="message-modal">{{ dialogSignUp.message }}</p>
                </div><!-- Rnd container -->
            </div><!-- Rnd modalDialog -->

            <header>
				<div class="container">
					<div class="row">
						<div class="names col-lg-6 col-md-6 col-sm-12">
                            <img class="logo" :src="linkToIconOlympiad">
							<p class="name-olympiad hidden-xs">{{ nameOlympiad }}</p>
							<p class="name-system">OLSystem - automatic system for passing olympics</p>
						</div><!-- End names -->
						<div class="contacts col-lg-6 col-md-6 hidden-sm hidden-xs">
							<p class="number"> {{ numberCreator }}</p>
							<p class="creator">{{ creatorOlympiad }}</p>
						</div><!-- End contacts -->
					</div><!-- End row -->
				</div><!-- Rnd container -->
			</header>

			<section class="container">
				<div class="row">
                    <!-- Desktop version of information about olympiad-->
					<div class="information col-lg-6 col-md-6 hidden-sm hidden-xs">
						<p class="title">{{ nameOlympiad }}</p>
						<p class="description"> {{ descriptionOlympiad }}
						</p>
                        <a href="#authentification" class="main-btn">Начать олимпиаду</a>
					</div><!-- End information -->
                    <!-- Mobile version of information about olympiad-->
                    <div class="mobile-information hidden-lg hidden-md hidden-sm">
                        <p class="mobile-title">{{ nameOlympiad }}</p>
                        <p class="mobile-description">{{ descriptionOlympiad }}</p>
                        <a href="#authentification" class="main-btn">Начать олимпиаду</a>
                    </div><!-- End mobile-information -->
					<!-- Tablet version of information about olympiad-->
					<div class="tablet-information hidden-lg hidden-md col-sm-12 hidden-xs">
						<p class="tablet-title">{{ nameOlympiad }}</p>
						<p class="tablet-description">{{ descriptionOlympiad }}</p>
						<a href="#authentification" class="main-btn">Начать олимпиаду</a>
					</div><!-- End mobile-information -->
					<div class="start-image col-lg-6 col-md-6 hidden-sm hidden-xs">
                        <img src="../start-olympiad-page/img/student.png">
					</div><!-- End start-image -->
				</div><!-- End row-->
			</section>

			<footer>
                <div>
                    <a :href="linkToWebSite">{{ nameWebSite }}</a>
                </div>
			</footer>

		</div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="../start-olympiad-page/libs/md5.min.js"></script>
		<script src="../start-olympiad-page/script.js"></script>

	</body>

</html>