<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven />

    <!--Configuration-->
    <context:component-scan base-package="ru.testingsystem.configuration" />
    <!--Repository-->
    <context:component-scan base-package="ru.testingsystem.data.repository" />
    <!--Service-->
    <context:component-scan base-package="ru.testingsystem.data.service" />
    <!--Controllers-->
    <context:component-scan base-package="ru.testingsystem.controllers" />
    <!--Components-->
    <context:component-scan base-package="ru.testingsystem.authentication" />

    <context:component-scan base-package="ru.testingsystem.checkingTask" />
    <context:component-scan base-package="ru.testingsystem.olympiad" />

</beans>