/*******************************
 * Common styles
 *******************************/
a, button, input, textarea{
    outline: none;
}

a:hover, a{
    text-decoration: none;
}

/*******************************
 * Main page
 *******************************/
.main_block{
    background-color: #ECEAEB;
    margin-top: 150px;
    padding: 50px 100px 50px 100px;
    border: 1px solid #D3D3D3;
    margin-bottom: 30px;
}

.title{
    color: #9A3946;
    font-size: 30px;
    font-weight: 600;
    padding: 0px 40px 0px 40px;
}

.text{
    color: #979596;
    font-size: 18px;
    margin-bottom: 50px;
    padding: 0px 40px 0px 40px;
}

.a_run_test{
    border: 1px solid #747273;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: #7D7B7C;
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
}

.a_go_ti_dstu{
    color: #9A3946;
    font-size: 20px;
    font-weight: 600;
}

.main_icon{
    margin-left: 40px;
    width: 130px;
    margin-bottom: 20px;
    height: auto;
}

/**********************************
 * Log IN page
 **********************************/

.background_login{
    /*background-img: url("img/backgound_login.jpg");*/
    background-color: #7D7B7C;
    background-size: cover;
    height: 100%;
}

.login_block {
    text-align: left;
    border: 1px solid #CCCCCC;
    width: 400px;
}

.login_inputs{
    background-color: white;
}

.login_buttons{
    background-color: #F6F3F3;
}

input[type="text"], input[type="password"]{
    border: 1px solid #CBCFD0;
    width: 300px;
    height: 35px;
    border-radius: 1%;
    color: #595959;
    font-size: 16px;
}

/**********************************
 * Sign Up page
 **********************************/



